
mgl-map {
  height: 50vh;
  width: 100%;
}


.component-container {
  background: rgb(175,223,249);
  height: 100%;
  overflow: auto;
  min-height:110px;
}

.component-item {
  justify-content: center;
  text-align: center;
}
