<ul class="nav nav-sidebar" >
  <li [routerLinkActive]="['active']"><a [routerLink]="['monitoring']">Monitoring </a> </li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['dashboard']">Overview</a></li>
<!--  <li [routerLinkActive]="['active']"><a [routerLink]="['weather']">Weather</a></li>-->
  <li [routerLinkActive]="['active']"><a [routerLink]="['bus']">Busses</a></li>
<!-- TODO: this  <li [routerLinkActive]="['active']"><a [routerLink]="['beacon']">Beacons</a></li>-->
  <li [routerLinkActive]="['active']"><a [routerLink]="['questionnaire']">Surveys</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['steward']">Stewards</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['communication']">Communication</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['export']">Export data</a></li>
</ul>
